<div
  class="battlefield"
  [class.clickable]="isClickable"
  [class.active]="current !== player?.uid"
>
  <ng-container *ngFor="let field of battlefield; trackBy: byIndex">
    <ng-container *ngIf="isVisible || field.ship?.sunk">
      <div
        *ngIf="field.ship as ship"
        class="field taken {{ ship.name }} {{ ship.direction }}"
        [class.start]="ship.isStart"
        [class.end]="ship.isEnd"
        [class.sunk]="ship.sunk"
      >
        <div [class.hit]="field.hit"></div>
      </div>
      <div *ngIf="!field.ship" class="field" [class.miss]="field.hit"></div>
    </ng-container>

    <ng-container *ngIf="!isVisible && !field.ship?.sunk">
      <div
        class="field"
        [class.miss]="field.hit && !field.ship"
        (click)="fire(field)"
      >
        <div [class.hit]="field.hit && field.ship"></div>
      </div>
    </ng-container>
  </ng-container>
</div>
