<router-outlet></router-outlet>

<div class="container">
  <h1>Battleship</h1>
</div>

<div class="container">
  <div class="battlefield player-field">
    <ng-container *ngFor="let field of battlefield">
      <div
        *ngIf="field.ship as ship"
        class="{{ ship.name }} {{ ship.direction }}"
        [class.hit]="field.hit"
        [class.taken]="ship"
        [class.start]="ship.isStart"
        [class.end]="ship.isEnd"
        (drop)="onDrop($event)"
        (dragover)="onDragOver($event)"
        draggable="true"
      ></div>
      <div *ngIf="!field.ship" [class.miss]="field.hit"></div>
    </ng-container>
  </div>
  <div class="battlefield opponent-field">
    <div
      *ngFor="let field of opponentfield"
      [class.hit]="field.hit && field.ship"
      [class.miss]="field.hit && !field.ship"
      (click)="fire(field)"
    ></div>
  </div>
</div>

<div class="container">
  <div class="controls">
    <button
      mat-button
      mat-raised-button
      color="secondary"
      (click)="randomize()"
    >
      Randomize
    </button>
    <button mat-button mat-raised-button color="primary">Start</button>
  </div>
</div>
