<router-outlet></router-outlet>

<mat-progress-bar
  [mode]="(loading$ | async) ? 'indeterminate' : 'determinate'"
></mat-progress-bar>

<div class="container header">
  <h1>Battleship</h1>
</div>

<div class="container state-{{ state }}">
  <div>
    <div class="player-info">
      {{ user.name }} <span *ngIf="winner === user">(winner)</span>
    </div>
    <div class="battlefield player-field" [class.current]="current !== user">
      <ng-container *ngFor="let field of user.battlefield">
        <div
          *ngIf="field.ship as ship"
          class="{{ ship.name }} {{ ship.direction }}"
          [class.taken]="ship"
          [class.sunk]="ship.sunk"
          [class.start]="field.isStart"
          [class.end]="field.isEnd"
          (drop)="onDrop($event)"
          (dragover)="onDragOver($event)"
          draggable="true"
        >
          <div [class.hit]="field.hit"></div>
        </div>
        <div *ngIf="!field.ship" [class.miss]="field.hit"></div>
      </ng-container>
    </div>
  </div>
  <div>
    <div class="player-info">
      {{ opponent.name }} <span *ngIf="winner === opponent">(winner)</span>
    </div>
    <div
      class="battlefield opponent-field"
      [class.current]="current !== opponent"
    >
      <ng-container *ngFor="let field of opponent.battlefield">
        <div
          *ngIf="field.ship as ship"
          class="{{ ship.sunk ? ship.name : '' }} 
          {{ ship.sunk ? ship.direction : '' }}"
          [class.taken]="ship.sunk"
          [class.sunk]="ship.sunk"
          [class.start]="ship.sunk && field.isStart"
          [class.end]="ship.sunk && field.isEnd"
          (click)="current === user && fire(field)"
        >
          <div *ngIf="field.hit" [class.hit]="field.hit"></div>
        </div>
        <div
          *ngIf="!field.ship"
          [class.miss]="field.hit"
          (click)="current === user && fire(field)"
        ></div>
      </ng-container>
    </div>
  </div>
</div>

<div class="container">
  <div class="controls">
    <ng-container *ngIf="state == 'preparing'">
      <button
        mat-button
        mat-raised-button
        color="secondary"
        (click)="randomize()"
      >
        <mat-icon>shuffle</mat-icon> Randomize
      </button>
      <button mat-button mat-raised-button color="primary" (click)="start()">
        <mat-icon>play_arrow</mat-icon> Start
      </button>
    </ng-container>

    <ng-container *ngIf="state == 'playing'">
      <button mat-button mat-raised-button color="warn" (click)="resign()">
        <mat-icon>outlined_flag</mat-icon> Resign
      </button>
    </ng-container>

    <ng-container *ngIf="state == 'finished'">
      <button mat-button mat-raised-button color="primary" (click)="restart()">
        <mat-icon>replay</mat-icon> Play again
      </button>
    </ng-container>
  </div>
</div>
