<div class="battlefield" [class.current]="current !== player">
  <ng-container *ngFor="let field of player?.battlefield; trackBy: byIndex">
    <div
      *ngIf="field.ship"
      class="field {{ field.ship }} {{ field.ship?.direction }}"
      [class.taken]="field.ship"
      [class.start]="field.ship?.isStart"
      [class.end]="field.ship?.isEnd"
      [class.sunk]="field.ship?.sunk"
      (drop)="onDrop($event)"
      (dragover)="onDragOver($event)"
      draggable="true"
    >
      <div [class.hit]="field.hit"></div>
    </div>
    <div *ngIf="!field.ship" [class.miss]="field.hit" class="field"></div>
  </ng-container>
</div>
