<mat-progress-bar
  [mode]="(loading$ | async) ? 'indeterminate' : 'determinate'"
></mat-progress-bar>

<div class="container header">
  <h1><a routerLink="/">Battleship</a></h1>
</div>

<div class="container players">
  <ng-container *ngIf="match$ | async as match">
    <app-user [user]="match.creator"></app-user>
    <app-user [user]="match.opponent"></app-user>
  </ng-container>
</div>

<div class="container state-{{ battleship.state$ | async }}">
  <app-battlefield
    [player]="battleship.user$ | async"
    [current]="battleship.current$ | async"
    (fired)="battleship.fire($event)"
  ></app-battlefield>

  <app-battlefield
    [player]="battleship.opponent$ | async"
    [current]="battleship.current$ | async"
    (fired)="battleship.fire($event)"
  ></app-battlefield>
</div>

<div class="container">
  <app-controls class="controls" [state]="battleship.state$ | async">
  </app-controls>
</div>
