<div class="user" [class.winner]="winner === user?.uid">
  <ng-container *ngIf="user; else anonymous">
    <div class="user-photo">
      <img *ngIf="user.photoURL" [src]="user.photoURL" />
      <mat-icon *ngIf="!user.photoURL">person</mat-icon>
    </div>
    <span class="user-name">{{ user.displayName }}</span>
    <span *ngIf="winner && winner === user?.uid"> is winner!</span>
  </ng-container>
</div>

<ng-template #anonymous>
  <div class="user-photo">
    <mat-icon>person</mat-icon>
  </div>
  <span>Anonymous</span>
</ng-template>
