* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #00beff88;
}

.mat-progress-bar-buffer {
  background-color: #00beff88;
}
