<div class="home-container">
  <ng-container *ngIf="auth.user$ | async as user; else login">
    <div class="home-header">
      <button mat-raised-button>Play against PC</button>
      <button mat-raised-button (click)="createMatch()">Create match</button>
    </div>
    <div class="matches">
      <app-matches [user]="user"></app-matches>
    </div>
  </ng-container>
</div>

<ng-template #login>
  <div class="home-header">
    <button mat-raised-button>Play against PC</button>
    <button mat-raised-button routerLink="/login">Login</button>
  </div>
</ng-template>
